*{
  color: blue;
}



ul {
  display: block;
  width: 200px;
}
ul li {
  display: block;
}
ul li a {
  display: block; 
  border: 1px solid #000;
  background: rgb(135, 143, 21);
}
ul li a {
  display: block; 
  border: 1px solid #000;
  background: rgb(95, 36, 97);
  
}
ul li ul {
  display: none;
}
ul li ul.permahover {
  display: block;
}

.wrap {
  background-color: #999;
  width: 200px;
  overflow: hidden;
}
.content {
  width: 100%;
  margin-left: 100%;
  background-color: #eee;
}



header{ padding:0px; position: sticky; top:0px; left:0px; background: #FFF; z-index: 1000;}
header.fixed-header{box-shadow: 20px 4px 10px rgba(39, 59, 69, 0.2);}

header .logo img{width:200px; transition: all linear .5s}
header.fixed-header .logo img{width:100px;}

.box-height{ height:500px;}







